body {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
}
.form-inline {
    display: inline-block;
}
.navbar {
    font-size: 14px;
    background: #ff0000;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0,0,0,.1);     
}
.navbar .navbar-brand {
    color: #555;
    padding-left: 0;
    font-size: 20px;
    padding-right: 50;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
.navbar .navbar-brand b {
    font-weight: bold;
    color: #429013;
}
.navbar ul.nav li {
    font-size: 96%;
    font-weight: bold;      
    text-transform: uppercase;
}
.navbar ul.nav li.active a, .navbar ul.nav li.active a:hover, .navbar ul.nav li.active a:focus {
    color: #429013 !important;
    background: transparent !important;
}
.navbar ul li i {
    font-size: 18px;
}
.navbar .dropdown-menu i {
    font-size: 16px;
    min-width: 22px;
}
.navbar .dropdown.open > a {
    background: none !important;
}
.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu li a {
    color: #777;
    padding: 8px 20px;
    line-height: normal;
    font-size: 14px;
}
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
    color: #333;
}
.navbar .navbar-form {
    border: none;
}
@media (min-width: 992px){
    .form-inline .input-group .form-control {
        width: 225px;           
    }
}
@media (max-width: 992px){
    .form-inline {
        display: block;
    }
}